<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0, target-densitydpi=device-dpi"/>
	<title>Calvin Klein</title>
</head>

<body style="margin:0; vertical-align:top;">
<div class="yfix">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
		<tr>
			<td>
				<table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
					<tr>
						<td>
							<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
								<tr>
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="100%" height="10" style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td>
										<table cellpadding="0" cellspacing="0" border="0" width="640">
											<tr>
												<td align="left" valign="top">

													<table cellpadding="0" cellspacing="0" border="0" width="640"
														   align="left">
														<tr style="text-align:center">
															<td align="center">
																<a href="{{ecom_url}}"
																   title="" target="_blank"
																   style="text-decoration:none">
																  <span class="section_logo_a">
																	  <img class="mobile_hidden section_logo" src="{{images.logo}}" vspace="0" hspace="0"
																		   border="0" style="display:block;" class="section_image"/>
																  </span>
																</a>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="10"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr class="mobile_hidden">
									<td>
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td width="20">&nbsp;</td>
												<td align="right">
													<span
                            class="mobile_preheader"
														style="font-family:'FuturaStdBook', arial, sans-serif; font-size:15px; color:#313131; text-align:right; font-style: italic;"
                          >
                            <a
                              href="{{ecom_url}}/{{locales.shipping_info_link}}"
															title="" target="_blank"
															style="color:#313131; text-decoration:none;"
                            >
                              {{locales.free_delivery_on_orders_above}}
                            </a>
                          </span>
												</td>
												<td width="20">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="10"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#e4e4e4" height="2">
									<td height="2">
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="2" style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td height="30" valign="middle" align="left">
										<table width="640" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="20"
													style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:14px; color:#313131; text-decoration:none; line-height:30px;">
													&nbsp;
												</td>
												<td class="mobile_navigation"
													style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:14px; color:#313131; text-decoration:none;">
													<a href="{{ecom_url}}/{{locales.women_link}}"
													   title="" target="_blank"
													   style="color:#6d6d6d; text-decoration:none;">{{locales.women}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
													<a href="{{ecom_url}}/{{locales.men_link}}"
													   title="" target="_blank"
													   style="color:#6d6d6d; text-decoration:none;">{{locales.men}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
													<a href="{{ecom_url}}/{{locales.kids_link}}"
													   title="" target="_blank"
													   style="color:#6d6d6d; text-decoration:none;">{{locales.kids}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
												</td>
												<td class="mobile_navigation" style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:14px; color:#313131; text-decoration:none; text-align:right; line-height:30px;">
													<span class="">
														<a href="{{ecom_url}}/{{locales.store_locator_link}}" title="" target="_blank" style="color:#313131; text-decoration:none;">{{locales.store_finder}}</a>
													</span>
													<a href="{{ecom_url}}/{{locales.store_locator_link}}" title="" target="_blank" style="color:#6d6d6d; text-decoration:none; line-height:14px;">
														<span id="section_storefinder_a">
															<img src="{{images.storefinder}}" width="8" height="12" style="display: inline;" border="0" class="image_auto image_auto mobile_image_store_navigation">
														</span>
													</a>
												</td>
												<td width="20" style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:14px; color:#313131; text-decoration:none; line-height:30px;">
													&nbsp;
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#e4e4e4">
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="2" style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td align="center">
										<p style="
										  font-family: Futura, 'FuturaBold', Helvetica, Arial, sans-serif;
										  font-weight: bold;
										  line-height: 1.25;
										  letter-spacing: 2px;
										  font-size: 35px;
										  color: #313131;
										  margin: 0;
										  padding-top: 29px;
										">
											{{locales.shopping_bag}}
										</p>
									</td>
								</tr>

								<tr>
									<td align="center">
										<p style="
										  margin:0;
										  padding-top:14px;
										  font-family: 'FuturaStdBook', Futura, Helvetica, Arial, sans-serif;
										  font-size:15px;
										  line-height:1.87;
										  color: #313131;
										">
											{{locales.thanks_for_browsing}}
										</p>
									</td>
								</tr>

								<tr>
									<td align="center">
										<a href="{{ecom_url}}/BasketPopulate?{{#items}}ean={{id}}&qty=1&{{/items}}"
										   style="text-decoration: none;">
											<p style="
												display: block;
												text-decoration: none;
												width: 280px;
												background-color: #000000;
												color: #ffffff;
												font-family:Futura, 'FuturaBold', Helvetica, Arial, sans-serif;
												font-weight: bold;
												font-size: 14px;
												font-weight: normal;
												margin: 46px 0 32px;
												letter-spacing: 1px;
												padding: 16px 0;
											  ">
												{{locales.go_to_checkout}}
											</p>
										</a>
									</td>
								</tr>

								<tr>
									<td align="center"
										style="
										  font-family:Futura, 'FuturaBold', Helvetica, Arial, sans-serif;
										  font-weight: bold;
										  font-size: 20px;
										  color: #313131;
										  padding-bottom: 32px;
									">
										<p>{{locales.total}}: {{total}} <span
												style="font-family: 'FuturaStdBook', Futura, GillSansLight, sans-serif; font-size: 14px; color:#969696; font-weight:normal;"> {{locales.incl_vat}}</span>
										</p>
									</td>
								</tr>

								<!--START ITEMS-->
								{{#items}}
									<tr bgcolor="#ffffff">
										<td>
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td width="640" height="20" style="font-size:1px; line-height:1px;"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td>
											<table cellpadding="0" cellspacing="0" border="0" width="100%">
												<tr>
													<td class="mobile_td_fullsize640" align="center" valign="middle" style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:16px; line-height:19px; color:#e04229;">
														<a href="{{url}}" target="_blank" style="font-family:'FuturaStdBook', Georgia, serif; font-style: italic; font-size:20px; line-height:160px; color:#313131;">
															<img
																class="mobile_td_fullsize640x640"
																src="{{image}}"
																style="display:block; padding: 25px 0px;"
																width="320"
																height="320"
																border="0"
																alt="{{name}}"
																title="{{name}}"
															/>
														</a>
													</td>
													<td class="mobile_hidden" width="10" bgcolor="#ffffff">&nbsp;</td>
													<td class="mobile_td_fullsize640" valign="top" style="font-family:Arial, Helvetica, sans-serif;
						background-color:#ffffff;
						color:#000000;
						text-decoration:none;
						text-align:center;
					">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="mobile_height20" align="center" height="50"></td>
															</tr>
															<tr style="padding-left: 32px; display: block">
																<td align="left">
																	<span class="mobile_font30" style="
																		box-decoration-break: clone;
																		-webkit-box-decoration-break: clone;
																		font-family:Futura, 'FuturaBold', Helvetica, Arial, sans-serif;
																		font-weight: bold;
																		letter-spacing: 4px;
																		font-size:24px;
																		line-height:30px;
																		color:#000000;
																		text-align:center;
																		text-transform: uppercase;
																	">
																		{{name}}
																	</span>
																</td>
															</tr>
															<tr>
																<td class="mobile_height20" align="center" height="7"></td>
															</tr>
															<tr>
																<td class="mobile_font30" align="center" style="
									font-family:Futura, 'FuturaBold', Helvetica, Arial, sans-serif;
									font-weight: bold;
									font-size:20px;
									line-height:20px;
									color:#313131;
									text-align:left;
									padding-top: 10px;
									padding-left: 32px;
								">
																	{{price}}<span style="font-family:'FuturaStdBook', Futura Medium, Futura, Helvetica, Arial, sans-serif; font-size:14px; color:#969696; font-weight:normal;"> {{locales.incl_vat}}</span>
																</td>
															</tr>
															<tr>
																<td class="mobile_height40" align="left" height="23"></td>
															</tr>
															<tr>
																<td>
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td width="160" class="mobile_width338" align="left">
																				<span class="mobile_font30" style="
																					font-family:'FuturaStdBook', Futura Medium, Futura, Helvetica, Arial, sans-serif;
																					font-size:15px;
																					line-height:20px;
																					color:#313131;
																					margin-right:6px;
																				">
																					<span style="font-family:'FuturaStdBook', Futura Medium, Futura, Helvetica, Arial, sans-serif; color: #969696; margin-left: 32px; font-weight: bold;">{{locales.size}}&nbsp;&nbsp;&nbsp;&nbsp;</span> {{size}}
																				</span>
																			</td>
																			<td width="120" class="mobile_width270" align="center">&nbsp;&nbsp;
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="mobile_height40" align="left" height="50"></td>
															</tr>
															<tr>
																<td>
																	<table width="100%" border="0" cellpadding="0" cellspacing="0">
																		<tbody>
																		<tr style="text-align:center;">
																			<td width="100%" valign="top" style="font-family:'FuturaStdBook', Futura Medium, Futura, Helvetica, Arial, sans-serif; color:#000000; text-decoration:none; text-align:center;">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tbody>
																					<tr>
																						<td class="mobile_height40" align="center" height="20"></td>
																					</tr>
																					<tr>
																						<td align="center">
																							<table width="100%" border="0"
																								   cellspacing="0"
																								   cellpadding="0"
																								   style="padding-left: 32px; padding-right: 32px;">
																								<tbody>
																								<tr>
																									<td class="mobile_products_cta_underline"
																										valign="middle"
																										height="40"
																										style="font-family:Futura, 'FuturaBold', Helvetica, Arial, sans-serif; font-size:14px; border: 2px solid #313131 !important; color:#313131; text-align:center; font-weight:bold;">
																										<table width="100%"
																											   border="0"
																											   cellspacing="0"
																											   cellpadding="0">
																											<tbody>
																											<tr>
																												<td align="center"
																													valign="middle">
																													<table border="0" cellspacing="0" cellpadding="0" width="150px">
																														<tbody>
																														<tr>
																															<td class="mobile_hidden" valign="top" height="5" bgcolor="#ffffff"></td>
																														</tr>
																														<tr>
																															<td align="center" valign="middle">
																																<a href="{{url}}" target="_blank" style="text-decoration:none; color:#313131;">{{locales.view_item}}</a>
																															</td>
																														</tr>
																														<tr>
																															<td class="mobile_hidden">
																																<div style="margin: 5px 5px 0;"
																																	 bgcolor="#ffffff"></div>
																															</td>
																														</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="mobile_height40" align="center" height="20">
																	&nbsp;
																</td>
															</tr>
														</table>
													</td>
													<td class="mobile_hidden" width="10" bgcolor="#ffffff">&nbsp;</td>
												</tr>
											</table>
										</td>
									</tr>
								{{/items}}
								<!--FINISH ITEMS-->

								<tr bgcolor="#ffffff">
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="20"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>


								<tr>
									<td align="center">
										<a href="{{ecom_url}}/BasketPopulate?{{#items}}ean={{id}}&qty=1&{{/items}}"
										   style="text-decoration: none;">
											<p style="
												display: block;
												text-decoration: none;
												width: 280px;
												background-color: #000000;
												color: #ffffff;
												font-family:Futura, 'FuturaBold', Helvetica, Arial, sans-serif;
												font-weight: bold;
												font-size: 14px;
												font-weight: normal;
												margin: 46px 0 32px;
												letter-spacing: 1px;
												padding: 16px 0;"
											>
												{{locales.go_to_checkout}}
											</p>
										</a>
									</td>
								</tr>

								<tr>
									<td
										align="center"
										style="font-family:Futura, 'FuturaBold', Helvetica, Arial, sans-serif; font-weight: bold; font-size: 20px; color: #313131; padding-bottom: 32px;">
										<p>
											{{locales.total}}: {{total}}
											<span style="font-family: 'FuturaStdBook', Futura, GillSansLight, sans-serif; font-size: 14px; color:#969696; font-weight:normal;">
												{{locales.incl_vat}}
											</span>
										</p>
									</td>
								</tr>


								<tr bgcolor="#ffffff">
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="40"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#313131">
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="40"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#313131">
									<td valign="middle" align="center">
										<table width="640" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="20"></td>
												<td class=""
													style="font-family: 'GillSansLight', Arial, Helvetica, sans-serif; font-size:38px; line-height:42px; font-weight:lighter; letter-spacing:-1px; color:#ffffff; text-decoration:none; text-align:center;">
													{{locales.looking_for}}<br/>{{locales.something_else}}
												</td>
												<td width="20"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#313131">
									<td>
										<table border="0" cellspacing="0" cellpadding="0" width="100%">
											<tr>
												<td height="20" class="mobile_height40"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#313131">
									<td valign="middle" align="center">
										<table width="640" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="40"></td>
												<td class="mobile_font30"
													style="font-family: 'GillSansLight', Arial, Helvetica, sans-serif; font-size:18px; line-height:22px; font-weight:lighter; letter-spacing:0; color:#ffffff; text-decoration:none; text-align:center;">
													{{locales.visit_us_on}} <a
														href="{{ecom_url}}"
														title="" target="_blank"
														style="color:#ffffff; text-decoration:underline;">{{ecom_url}}</a>
													{{locales.to_see_more_styles}}.
												</td>
												<td width="40"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#313131">
									<td valign="middle" align="center">
										<table width="640" border="0" cellpadding="0" cellspacing="0">
											<tr style="text-align:center;">
												<td width="100%" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:none; text-align:center;">
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="mobile_height40" align="center" height="20"></td>
														</tr>
														<tr>
															<td align="center">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="mobile_width50" align="center" width="150"></td>
																		<td class="mobile_products_cta_underline" valign="middle" height="40" style="font-family:'FuturaBook', Arial, Helvetica, sans-serif; font-size:14px; color:#313131; text-align:center; font-weight:bold">
																			<table width="100%" border="0" cellspacing="0" cellpadding="0">
																				<tr>
																					<td align="center" valign="middle">
																						<table border="0" cellspacing="0" cellpadding="0">
																							<tr>
																								<td class="mobile_hidden" valign="top" height="5" bgcolor="#313131"></td>
																							</tr>
																							<tr>
																								<td align="center" valign="middle">
																									<a
																										href="{{ecom_url}}/{{locales.women_link}}"
																										target="_blank"
																										style="text-decoration:none; color:#ffffff;">
																										{{locales.shop_women}}
																									</a>
																								</td>
																							</tr>
																							<tr>
																								<td class="mobile_hidden">
																									<div style="border-top: solid 2px #FFF; margin: 5px 5px 0;"></div>
																								</td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																		</td>
																		<td class="mobile_width50" align="center"
																			width="150"></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#313131">
									<td valign="middle" align="center">
										<table width="640" border="0" cellpadding="0" cellspacing="0">
											<tr style="text-align:center;">
												<td width="100%" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:none; text-align:center;">
													<table width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td class="mobile_height40" align="center" height="20"></td>
														</tr>
														<tr>
															<td align="center">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class="mobile_width50" align="center" width="150"></td>
																		<td class="mobile_products_cta_underline" valign="middle" height="40" style="font-family:'FuturaBook', Arial, Helvetica, sans-serif; font-size:14px; color:#313131; text-align:center; font-weight:bold">
																			<table width="100%" border="0" cellspacing="0" cellpadding="0">
																				<tr>
																					<td align="center" valign="middle">
																						<table border="0" cellspacing="0" cellpadding="0">
																							<tr>
																								<td class="mobile_hidden" valign="top" height="5"></td>
																							</tr>
																							<tr>
																								<td align="center" valign="middle">
																									<a
																										href="{{ecom_url}}/{{locales.men_link}}"
																										target="_blank"
																										style="text-decoration:none; color:#ffffff;">
																										{{locales.shop_men}}
																									</a>
																								</td>
																							</tr>
																							<tr>
																								<td class="mobile_hidden">
																									<div style="border-top: solid 2px #FFF; margin: 5px 5px 0;"></div>
																								</td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																		</td>
																		<td class="mobile_width50" align="center"
																			width="150"></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td>
										<table border="0" cellspacing="0" cellpadding="0" width="100%">
											<tr>
												<td height="50" style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="40"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>


								<tr valign="middle">
									<td valign="middle" align="center">
										<table width="640" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="20"
													style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:14px; color:#313131; text-decoration:none; line-height:30px;">
													&nbsp;
												</td>
												<td width="600" height="100" style="color:#313131; text-align:center;">
													<a href="{{ecom_url}}/{{locales.store_locator_link}}"
														title="" target="_blank"
														style="color:#313131; text-decoration:none;">
														<span
															class="mobile_footer_findastore"
															style="font-family:'FuturaStdBook', Georgia, serif; font-size: 30px; text-decoration: none; font-style: italic;">{{locales.find_a_store}}
														</span>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<span
															class="mobile_footer_nearyou"
															style="font-family: FuturaBook, Helvetica, Arial, sans-serif; font-size: 23px; text-decoration: underline;">
															{{locales.near_you}}
														</span>
													</a>
												</td>
												<td width="20"
													style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:14px; color:#313131; text-decoration:none; line-height:30px;">
													&nbsp;
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#ffffff" class="mobile_footer_store_spacer">
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="1" style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr>
									<td valign="top" align="center" class="padd_lr_20" style="padding: 0px 30px;">
										<table width="540" cellspacing="0" cellpadding="0" border="0"
											   class="widthauto margin_t_20">
											<tbody>
											<tr>
												<td valign="top" align="left">
													<table width="280" cellspacing="0" cellpadding="0" border="0"
														   align="left" class="wrap100pc">
														<tbody>
														<tr>
															<td valign="top" align="left">
																<table width="135" cellspacing="0" cellpadding="0"
																	   border="0" align="left"
																	   class="wrap100pc">
																	<tbody>
																	<tr>
																		<td valign="top" align="left">
																			<table cellspacing="0" cellpadding="0"
																				   border="0"
																				   class="footer-left-block height_40">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="font12"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 13px; color: #313131;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.shipping_info_link}}">
																							{{locales.free_delivery}}
																						</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																			<table cellspacing="0" cellpadding="0"
																				   border="0"
																				   class="footer-right-block">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="nopadding"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 12px; color: #313131; padding-top: 10px;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.shipping_info_link}}">
																							{{locales.free_delivery_on_orders_above}}
																						</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																	</tbody>
																</table>
																<!--[if (gte mso 9)|(IE)]>
																</td>
																<td valign="top">
																<![endif]-->
																<table width="140" cellspacing="0" cellpadding="0"
																	   border="0" align="right"
																	   class="wrap100pc">
																	<tbody>
																	<tr>
																		<td valign="top" align="left"
																			class="nopadding bordernone"
																			style="border-left-width: 1px; border-left-style: dotted; border-left-color: #dddddd; padding-left: 14px;">
																			<table cellspacing="0" cellpadding="0"
																				   border="0" class="footer-left-block">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="font12"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 13px; color: #313131;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.returns_and_refunds_link}}">{{locales.returns}}</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																			<table cellspacing="0" cellpadding="0"
																				   border="0"
																				   class="footer-right-block height_40">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="nopadding"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 12px; color: #313131; padding-top: 10px;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.returns_and_refunds_link}}">
																							{{locales.free_and_easy_returns}}
																						</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														</tbody>
													</table>
													<!--[if (gte mso 9)|(IE)]>
													</td>
													<td valign="top">
													<![endif]-->
													<table width="250" cellspacing="0" cellpadding="0" border="0"
														   align="right" class="wrap100pc">
														<tbody>
														<tr>
															<td valign="top" align="left">
																<table width="131" cellspacing="0" cellpadding="0"
																	   border="0" align="left"
																	   class="wrap100pc">
																	<tbody>
																	<tr>
																		<td valign="top" align="left"
																			class="nopadding bordernone"
																			style="border-left-width: 1px; border-left-style: dotted; border-left-color: #dddddd; padding-left: 14px;">
																			<table cellspacing="0" cellpadding="0"
																				   border="0" class="footer-left-block">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="font12"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 13px; color: #313131;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.customer_service_contact_link}}">{{locales.tracking}}</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																			<table cellspacing="0" cellpadding="0"
																				   border="0"
																				   class="footer-right-block">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="nopadding"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 12px; color: #313131; padding-top: 10px;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.customer_service_contact_link}}">
																							{{locales.track_your_package_online}}
																						</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																	</tbody>
																</table>
																<!--[if (gte mso 9)|(IE)]>
																</td>
																<td valign="top">
																<![endif]-->
																<table width="115" cellspacing="0" cellpadding="0"
																	   border="0" align="right"
																	   class="wrap100pc">
																	<tbody>
																	<tr>
																		<td valign="top" align="left"
																			class="nopadding bordernone"
																			style="border-left-width: 1px; border-left-style: dotted; border-left-color: #dddddd; padding-left: 14px;">
																			<table cellspacing="0" cellpadding="0"
																				   border="0" class="footer-left-block">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="font12"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 13px; color: #313131;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.customer_service_link}}">
																							{{locales.help}}
																						</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																			<table cellspacing="0" cellpadding="0"
																				   border="0"
																				   class="footer-right-block">
																				<tbody>
																				<tr>
																					<td valign="top" align="left"
																						class="nopadding"
																						style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 12px; color: #313131; padding-top: 10px;">
																						<a style="text-decoration: none; color: #313131;"
																						   target="_blank"
																						   href="{{ecom_url}}/{{locales.customer_service_link}}">
																							{{locales.personalized_customer_care}}
																						</a>
																					</td>
																				</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														</tbody>
													</table>
												</td>
											</tr>
											</tbody>
										</table>
									</td>
								</tr>

								<tr>
									<td valign="middle" align="center">
										<table width="640" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td valign="middle" height="43" style="padding: 32px 0px;"
													bgcolor="#ffffff" align="center">
													<table>
														<tr style="text-align:center;">
															<td valign="middle" align="left"
																style="font-family: FuturaStdBook, Futura, Helvetica, Arial, sans-serif; font-size: 12px; color: #98a0b1;">
																<a style="text-decoration: none; color: #98a0b1;"
																   target="_blank" title=""
																   href="https://www.facebook.com/calvinklein">
																	{{locales.follow_us}}
																</a>
															</td>
															<td valign="top" align="left" style="padding-left: 9px;">
																<a style="text-decoration: none;" target="_blank"
																   title=""
																   href="https://www.facebook.com/calvinklein">
																	<img width="40" height="40" border="0"
																		 style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #73819e; padding: 40px 0px;"
																		 title="Facebook" alt="FOLLOW US - facebook"
																		 src="{{images.facebook}}"></a></td>
															<td valign="top" align="left" style="padding-left: 9px;">
																<a style="text-decoration: none;" target="_blank"
																   href="https://twitter.com/calvinklein">
																	<img width="40" height="40" border="0"
																		 style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #73819e; padding: 40px 0px;"
																		 title="twitter" alt="twitter"
																		 src="{{images.twitter}}"></a>
															</td>
															<td valign="top" align="left" style="padding-left: 9px;">
																<a style="text-decoration: none;" target="_blank"
																   href="https://instagram.com/calvinklein/">
																	<img width="40" height="40" border="0"
																		 style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #73819e; padding: 40px 0px;"
																		 title="Instagram" alt="Instagram"
																		 src="{{images.instagram}}"></a>
															</td>
															<td valign="top" align="left" style="padding-left: 9px;">
																<a style="text-decoration: none;" target="_blank"
																   href="https://www.pinterest.com/calvinklein/">
																	<img width="40" height="40" border="0"
																		 style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #73819e; padding: 40px 0px;"
																		 title="Pinterest" alt="Pinterest"
																		 src="{{images.pinterest}}"></a>
															</td>
															<td valign="top" align="left" style="padding-left: 9px;">
																<a style="text-decoration: none;" target="_blank"
																   href="https://www.youtube.com/user/calvinklein">
																	<img width="40" height="40" border="0"
																		 style="display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #73819e; padding: 40px 0px;"
																		 title="YouTube" alt="You Tube"
																		 src="{{images.youtube}}"></a>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#000000">
									<td height="50" valign="middle">
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tr align="center">
												<td width="30" class="mobile_td_fullsize">&nbsp;</td>
												<td width="5" class="mobile_td_fullsize">&nbsp;</td>
												<td width="170" class="mobile_td_fullsize"><a
														href="{{ecom_url}}/{{locales.terms_and_conditions_link}}"
														title="" target="_blank"
														style="color:#ffffff; text-decoration:underline;"><span
														class="mobile_tc"
														style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:12px; line-height: 18px;  color:#ffffff; text-decoration:underline;">{{locales.terms_and_conditions}}</span></a>
												</td>
												<td width="5" class="mobile_td_fullsize">&nbsp;</td>
												<td width="220" class="mobile_td_fullsize" align="center"><a
														href="{{ecom_url}}/{{locales.privacy_policy_link}}"
														title="" target="_blank"
														style="color:#ffffff; text-decoration:underline;"><span
														class="mobile_tc"
														style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:12px; line-height: 18px;  color:#ffffff; text-decoration:underline;">{{locales.privacy_and_policy}}</span></a>
												</td>
												<td width="5" class="mobile_td_fullsize">&nbsp;</td>
												<td width="170" class="mobile_td_fullsize"><a
														href="{{ecom_url}}/{{locales.company_info_link}}"
														title="" target="_blank"
														style="color:#ffffff; text-decoration:underline;"><span
														class="mobile_tc"
														style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:12px; line-height: 18px;  color:#ffffff; text-decoration:underline;">{{locales.company_information}}</span></a>
												</td>
												<td width="5" class="mobile_td_fullsize">&nbsp;</td>
												<td width="30" class="mobile_td_fullsize">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#fbfbfb">
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="20"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#fbfbfb">
									<td>
										<table width="100%" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td width="20">&nbsp;</td>
												<td align="center">
<span class="mobile_footer_line"
	  style="font-family:'FuturaBook', Helvetica, Arial, sans-serif; font-size:10px; color:#75809E; text-decoration:none; text-align:center; line-height:12px; font-weight:lighter;">{{locales.we_will_not_share_your_information}}<br/><br/>

{{locales.ck_eu_bv_chamber_of_commerce}}<br/>
Directors: Martijn Hagman, Daniel Grieder<br/>
&copy; {{locales.ck_licensing}}</span>
												</td>
												<td width="20">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr bgcolor="#fbfbfb">
									<td>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="640" height="20"
													style="font-size:1px; line-height:1px;"></td>
											</tr>
										</table>
									</td>
								</tr>

							</table>
						</td>
					</tr>

				</table>
			</td>
		</tr>
	</table>

</div>
<style type="text/css">
	.ReadMsgBody {
		width: 100%;
	}

	.ExternalClass {
		width: 100%;
	}

	.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div, .ExternalClass * {
		line-height: 100%;
	}

	body {
		margin: 0 auto;
		padding: 0;
		color: #000000;
		background: #ffffff;
		-webkit-text-size-adjust: 100%;
	}

	@font-face {
		font-family: 'FuturaBold';
		src: local('FuturaBold'), url(https://db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.woff) format('woff');
	}

	@font-face {
		font-family: 'FuturaBook';
		src: local('FuturaBook'), url(https://db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.woff) format('woff');
	}

	@font-face {
		font-family: 'FuturaStdBook';
		src: local('FuturaStdBook'), url(https://db.onlinewebfonts.com/t/921351f146d78d55c8030239527bf2d6.woff) format('woff');
	}

	.mobile_logo_shown {
		display: none !important;
	}

	@media (max-device-width: 767px) {
		div[class="yfix"] .mobile_logo_shown {
			display: block !important;
		}

		div[class="yfix"] .mobile_hidden {
			display: none !important;
		}

		div[class="yfix"] .mobile_preheader {
			font-size: 28px !important;
			line-height: 60px !important;
		}

		div[class="yfix"] .mobile_preheader_webversion {
			font-size: 24px !important;
			line-height: 24px !important;
		}

		div[class="yfix"] .mobile_clubnumber {
			font-size: 22px !important;
			line-height: 60px !important;
		}

		div[class="yfix"] .mobile_viewable {
			width: 320px !important;
			height: auto !important;
			display: block !important;
			overflow: visible !important;
			line-height: 100% !important;
		}

		*[id=gmail] {
			display: block !important;
			width: auto !important;
			overflow: visible !important;
			float: none !important;
			height: inherit !important;
			max-height: inherit !important;
		}

		div[class="yfix"] .mobile_navigation {
			font-size: 28px !important;
			line-height: 60px !important;
		}

		div[class="yfix"] .mobile_image_store_navigation {
			height: 24px !important;
			width: 16px !important;
		}

		div[class="yfix"] #section_storefinder_a {
			display: inline;
			width: auto !important;
			height: auto !important;
		}

		div[class="yfix"] #section_footer_service_1, div[class="yfix"] #section_footer_service_2, div[class="yfix"] #section_footer_service_3, div[class="yfix"] #section_footer_service_4 {
			display: block !important;
			width: auto !important;
			height: auto !important;
		}

		div[class="yfix"] .section_image {
			width: 100% !important;
			height: auto !important;
		}

		div[class="yfix"] .mobile_footer_findastore {
			font-size: 40px !important;
		}

		div[class="yfix"] .mobile_footer_nearyou {
			font-size: 30px !important;
		}

		div[class="yfix"] .mobile_footer_store_spacer {
			height: 20px !important;
		}

		div[class="yfix"] .mobile_barcode_background {
			background: #fbfbfb;
		}

		div[class="yfix"] .mobile_barcode_loyaltyid {
			font-size: 16px !important;
			line-height: 30px !important;
		}

		div[class="yfix"] .mobile_footer_line {
			font-size: 20px !important;
			line-height: 24px !important;
		}

		div[class="yfix"] .mobile_tc {
			text-align: center !important;
			font-size: 24px !important;
			line-height: 30px !important;
		}

		div[class="yfix"] .mobile_img_fullsize {
			width: auto !important;
			height: auto !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize {
			width: 640px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize400 {
			width: 400px !important;
			height: 400px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize510 {
			width: 510px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize560 {
			width: 560px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize600 {
			width: 600px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize640 {
			width: 640px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize350x260 {
			width: 350px !important;
			height: 260px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize510x510 {
			width: 510px !important;
			height: 510px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize600x600 {
			width: 600px !important;
			height: 600px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_td_fullsize640x640 {
			width: 640px !important;
			height: 640px !important;
			display: block !important;
		}

		div[class="yfix"] .mobile_width10 {
			width: 10px !important;
		}

		div[class="yfix"] .mobile_width32 {
			width: 32px !important;
		}

		div[class="yfix"] .mobile_width40 {
			width: 40px !important;
		}

		div[class="yfix"] .mobile_width50 {
			width: 50px !important;
		}

		div[class="yfix"] .mobile_width65 {
			width: 65px !important;
		}

		div[class="yfix"] .mobile_width80 {
			width: 80px !important;
		}

		div[class="yfix"] .mobile_width250 {
			width: 250px !important;
		}

		div[class="yfix"] .mobile_width270 {
			width: 270px !important;
		}

		div[class="yfix"] .mobile_width338 {
			width: 338px !important;
		}

		div[class="yfix"] .mobile_width304 {
			width: 304px !important;
		}

		div[class="yfix"] .mobile_width350 {
			width: 350px !important;
		}

		div[class="yfix"] .mobile_width440 {
			width: 440px !important;
		}

		div[class="yfix"] .mobile_width480 {
			width: 480px !important;
		}

		div[class="yfix"] .mobile_height20 {
			height: 20px !important;
		}

		div[class="yfix"] .mobile_height30 {
			height: 30px !important;
		}

		div[class="yfix"] .mobile_height40 {
			height: 40px !important;
		}

		div[class="yfix"] .mobile_height80 {
			height: 80px !important;
		}

		div[class="yfix"] .mobile_font20 {
			font-size: 20px !important;
			line-height: 24px !important;
		}

		div[class="yfix"] .mobile_font28 {
			font-size: 28px !important;
			line-height: 34px !important;
		}

		div[class="yfix"] .mobile_font30 {
			font-size: 30px !important;
			line-height: 36px !important;
		}

		div[class="yfix"] .mobile_font32 {
			font-size: 32px !important;
			line-height: 38px !important;
		}

		div[class="yfix"] .mobile_font36 {
			font-size: 36px !important;
			line-height: 44px !important;
		}

		div[class="yfix"] .mobile_font40 {
			font-size: 40px !important;
			line-height: 48px !important;
		}

		div[class="yfix"] .mobile_font46 {
			font-size: 46px !important;
			line-height: 52px !important;
		}

		div[class="yfix"] .mobile_font60 {
			font-size: 60px !important;
			line-height: 64px !important;
		}

		div[class="yfix"] .mobile_font80 {
			font-size: 80px !important;
			line-height: 86px !important;
		}

		div[class="yfix"] .mobile_font100 {
			font-size: 100px !important;
			line-height: 106px !important;
		}

		div[class="yfix"] .mobile_ribbon_title {
			font-size: 34px !important;
			line-height: 40px !important;
		}

		div[class="yfix"] .mobile_font30_gillsans {
			font-family: 'GillSansLight', Helvetica, Arial, sans-serif !important;
			font-style: normal !important;
			font-size: 30px !important;
			line-height: 36px !important;
		}

		div[class="yfix"] .mobile_voucher {
			font-size: 28px !important;
			line-height: 34px !important;
		}

		div[class="yfix"] .mobile_voucher_img {
			width: 430px !important;
			height: 186px !important;
		}

		div[class="yfix"] .mobile_voucher_td_img {
			height: 280px !important;
		}

		div[class="yfix"] .mobile_voucher_cta {
			font-size: 28px !important;
			height: 80px !important;
			line-height: 80px !important;
		}

		div[class="yfix"] .mobile_voucher_or {
			width: 60px !important;
			height: 60px !important;
		}

		div[class="yfix"] .mobile_products_cta {
			font-size: 28px !important;
			height: 80px !important;
			line-height: 80px !important;
			width: 360px !important;
		}

		div[class="yfix"] .mobile_products_cta_underline {
			font-size: 28px !important;
			height: 80px !important;
			width: 360px !important;
			border: 3px solid #ffffff !important;
			font-weight: normal !important;
		}

	}

	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

		body {
			padding: 0 !important;
			margin: 0 auto !important;
			text-align: center;
			background: #ffffff;
		}

	}

</style>
</body>
</html>